body {
  font-family: "Vazirmatn", sans-serif;
  background: linear-gradient(to right, #cce5ff, #e6f2ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}
